{% extends 'layout.html' %}
{% block body %}

<script type='text/javascript'>
$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

$(function(){
  var translateToJapaneseButton = $('#translateToJapanese');
  var translateToEnglishButton  = $('#translateToEnglish');
  var recordToJapaneseButton    = $('#recordToJapanese');
  var recordToEnglishButton     = $('#recordToEnglish');
  var alert                     = $('#unableToUnderstandAlert');
  var playRecordEnglish         = $('#playRecordEnglish');
  var playRecordJapanese        = $('#playRecordJapanese');
  var audioEnglish              = document.getElementById('audioEnglish')
  var audioJapanese             = document.getElementById('audioJapanese')

  var currentRecorder = '';
  var chunks = [];

  alert.hide();
  playRecordEnglish.hide();
  playRecordJapanese.hide();
  $('audio').hide();

  audioEnglish.onended = function(){
    playRecordEnglish.html('<i class="fa fa-play"></i>');
    playRecordEnglish.attr('disabled', false);
  }

  audioJapanese.onended = function(){
    playRecordJapanese.html('<i class="fa fa-play"></i>');
    playRecordJapanese.attr('disabled', false);
  }

  navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;
  if (navigator.getUserMedia) {
    console.log('getUserMedia supported');
    navigator.getUserMedia(
        {
          audio: true
        },
        function(stream){
          console.log('successful callback');
          var mediaRecorder = new MediaRecorder(stream);

          mediaRecorder.ondataavailable = function(e){
            chunks.push(e.data);
          }

          mediaRecorder.onstop = function(e, a){
            console.log(a);
            if (currentRecorder == 'en-US') {
              recordToJapaneseButton.html('Translating voice...')
            } else {
              recordToEnglishButton.html('Translating voice...')
            }
            console.log('recorder stopped');
            var blob = new Blob(chunks, { 'type': 'audio/ogg;codecs=opus' });
            var form = new FormData();
            form.append('file', blob);
            form.append('language', currentRecorder)
            $.ajax({
              type: 'POST',
              url: $SCRIPT_ROOT + '/_record_voice',
              data: form,
              processData: false,
              contentType: false
            }).done(function(data){
              console.log(data);
              if (currentRecorder == 'en-US') {
                recordToJapaneseButton.html('<i class="fa fa-microphone"></i>');
              } else {
                recordToEnglishButton.html('<i class="fa fa-microphone"></i>');
              }
              if(data != 'Unable to understand'){
                if (currentRecorder == 'en-US') {
                  $('#textTranslateToJapanese').val(data);
                  translateToJapaneseButton.click();
                } else {
                  $('#textTranslateToEnglish').val(data);
                  translateToEnglishButton.click();
                }               
              } else {
                alert.show().delay(5000).fadeOut();
              }
            });
            chunks = [];
          }

          playRecordEnglish.click(function(){
            $(this).html('Playing...')
            $(this).attr('disabled', 'true')
            audioEnglish.play();
          });

          playRecordJapanese.click(function(){
            $(this).html('Playing...');
            $(this).attr('disabled', 'true')
            audioJapanese.play();
          });

          translateToJapaneseButton.bind('click', function(){
            translateToJapaneseButton.text('Translating to Japanese...')

              $.getJSON($SCRIPT_ROOT + '/_ja_translate', {
                text: $('#textTranslateToJapanese').val()
              }, function(data){
                $('#textTranslateToEnglish').val(data);
                translateToJapaneseButton.html('<i class="fa fa-language"></i> Translate to Japanese!');
                timestamp = Date.now();
                en_path = '/static/en_speech.mp3?timestamp=' + timestamp;
                $('#audioEnglish').attr('src', en_path);
                ja_path = '/static/ja_speech.mp3?timestamp=' + timestamp;
                $('#audioJapanese').attr('src', ja_path);
                playRecordEnglish.show();
                playRecordJapanese.show();
              });
            return false
          });

          translateToEnglishButton.bind('click', function(){
            translateToEnglishButton.text('Translating to English...');

            $.getJSON($SCRIPT_ROOT + '/_en_translate', {
              text: $('#textTranslateToEnglish').val()
            }, function(data){
              $('#textTranslateToJapanese').val(decodeURIComponent(data));
              translateToEnglishButton.html('<i class="fa fa-language"></i> Translate to English!');
              timestamp = Date.now();
              ja_path = '/static/ja_speech.mp3?timestamp=' + timestamp;
              $('#audioJapanese').attr('src', ja_path);
              en_path = '/static/en_speech.mp3?timestamp=' + timestamp;
              $('#audioEnglish').attr('src', en_path);
              playRecordEnglish.show();
              playRecordJapanese.show();
            });
          });

          recordToJapaneseButton.on('mousedown', function(){
            currentRecorder = 'en-US';
            recordToJapaneseButton.html('Recording...');
            mediaRecorder.start();
            console.log(mediaRecorder.state);
            console.log('Recorder Started');
          }).on('mouseup mouseleave', function(){
            mediaRecorder.stop();
            console.log(mediaRecorder.state);
            console.log('Recorder stopped');
            recordToJapaneseButton.html('Record');
          });

          recordToEnglishButton.on('mousedown', function(){
            currentRecorder = 'ja';
            recordToEnglishButton.html('Recording...');
            mediaRecorder.start();
          }).on('mouseup mouseleave', function(){
            mediaRecorder.stop();
            recordToEnglishButton.html('Record');
          });
        },
        function(err){
          console.log('failure callback');
        }
    )
  }
});
</script>

<div class="container main-container">
  <a href="/">
    <h1 class="text-center">
      Gummy: Translate Me!
    </h1>
  </a>
  <div id='unableToUnderstandAlert' class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <div class='text-center alert alert-danger alert-dismissible'>
        <h4>Unable to Understand!</h4>
        <p>Try recording again with a cleaner voice</p>
      </div>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <h3 class="text-center">Translate to Japanese</h3>
      <div class="form-group">
        <textarea class='form-control' placeholder='Eg. Hello World' id='textTranslateToJapanese' required >{{ translated_en_text }}</textarea>
      </div>
      <div class='text-center'>
        <audio id='audioEnglish' controls>
          <source src="" type='audio/mpeg'>
        </audio>
      </div>
      <div class="form-group text-center">
        <button type='button' class='btn btn-default' id='translateToJapanese'><i class='fa fa-language'></i> Translate to Japanese!</button>
        <button type='button' class='btn btn-default' id='recordToJapanese' style='color: red;'><i class='fa fa-microphone'></i></button>
        <button type='button' class='btn btn-danger' id='playRecordEnglish'><i class='fa fa-play'></i></button>
      </div>
    </div>
    <div class="col-sm-6 col-xs-12">
      <h3 class="text-center">Translate to English</h3>
      <div class="form-group">
        <textarea class='form-control' placeholder='Eg. こんにちは、世界。' id='textTranslateToEnglish' required >{{ translated_ja_text }}</textarea>
      </div>
      <div class='text-center'>
        <audio id='audioJapanese' controls>
          <source src="" type='audio/mpeg'>
        </audio>
      </div>
      <div class="form-group text-center">
        <button type='button' class='btn btn-default' id='translateToEnglish'><i class='fa fa-language'></i> Translate to English!</button>
        <button type='button' class='btn btn-default' id='recordToEnglish' style='color: red;'><i class='fa fa-microphone'></i></button>
        <button type='button' class='btn btn-danger' id='playRecordJapanese'><i class='fa fa-play'></i></button>
      </div>
    </div>
  </div>
</div>
{% if translated_text %}
{{ translated_text }}
{% endif %}
</div>
{% endblock %}
