{% extends 'layout.html' %}
{% block body %}

<script type='text/javascript'>
$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

$(function(){
  var translateButton           = $('#translateButton');
  var recordButton              = $('#recordVoice');
  var alert                     = $('#unableToUnderstandAlert');

  var playRecordEnglish         = $('#playRecordEnglish');
  var playRecordJapanese        = $('#playRecordJapanese');

  var audioEnglish              = document.getElementById('audioEnglish')
  var audioJapanese             = document.getElementById('audioJapanese')

  var currentRecorder = '';
  var chunks = [];

  alert.hide();
  playRecordEnglish.hide();
  playRecordJapanese.hide();
  $('audio').hide();

  audioEnglish.onended = function(){
    playRecordEnglish.html('<i class="fa fa-play"></i>');
    playRecordEnglish.attr('disabled', false);
  }

  audioJapanese.onended = function(){
    playRecordJapanese.html('<i class="fa fa-play"></i>');
    playRecordJapanese.attr('disabled', false);
  }

  navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;
  if (navigator.getUserMedia) {
    console.log('getUserMedia supported');
    navigator.getUserMedia(
        {
          audio: true
        },
        function(stream){
          console.log('successful callback');
          var mediaRecorder = new MediaRecorder(stream);

          mediaRecorder.ondataavailable = function(e){
            chunks.push(e.data);
          }

          mediaRecorder.onstop = function(e, a){
            console.log(a);
            recordButton.html('Translating voice...')
            console.log('recorder stopped');
            var blob = new Blob(chunks, { 'type': 'audio/ogg;codecs=opus' });
            var form = new FormData();
            form.append('file', blob);
            form.append('language', translateButton.attr('data-from'))
            $.ajax({
              type: 'POST',
              url: $SCRIPT_ROOT + '/_record_voice',
              data: form,
              processData: false,
              contentType: false
            }).done(function(data){
              console.log(data);
              recordButton.html('<i class="fa fa-microphone"></i>');
              if(data != 'Unable to understand'){
                $('#textTranslateToJapanese').val(data);
                translateButton.click();
              } else {
                alert.show().delay(5000).fadeOut();
              }
            });
            chunks = [];
          }

          $('.btn-group a').click(function(){
            $(this).parent().children().removeClass('active');
            $(this).addClass('active');

            if ($(this).parent().is('#btn-group__left')) {
              translateButton.attr('data-from', $(this).data('lang'));
            } else {
              translateButton.attr('data-to', $(this).data('lang'));
              if ($('#textTranslateToJapanese').val()) {
                translateButton.click();
              }
            }
          });

          playRecordEnglish.click(function(){
            $(this).html('Playing...')
            $(this).attr('disabled', 'true')
            audioEnglish.play();
          });

          playRecordJapanese.click(function(){
            $(this).html('Playing...');
            $(this).attr('disabled', 'true')
            audioJapanese.play();
          });

          translateButton.bind('click', function(){
            $(this).attr('disabled', true);
            translateButton.text('Translating...');

              $.getJSON($SCRIPT_ROOT + '/_translate', {
                text: $('#textTranslateToJapanese').val(),
                lang_to: $(this).attr('data-to'),
                lang_from: $(this).attr('data-from')
              }, function(data){
                translateButton.attr('disabled', false);
                $('#textTranslateToEnglish').val(data);
                translateButton.html('<i class="fa fa-language"></i> Translate');
                timestamp = Date.now();
                en_path = '/static/speech_left.mp3?timestamp=' + timestamp;
                $('#audioEnglish').attr('src', en_path);
                ja_path = '/static/speech_right.mp3?timestamp=' + timestamp;
                $('#audioJapanese').attr('src', ja_path);
                playRecordEnglish.show();
                playRecordJapanese.show();
              });
            return false
          });

          recordButton.on('mousedown', function(){
            currentRecorder = 'en-US';
            recordButton.html('Recording...');
            mediaRecorder.start();
          }).on('mouseup mouseleave', function(){
            mediaRecorder.stop();
          });
        },
        function(err){
          console.log('failure callback');
        }
    )
  }
});
</script>

<div class="container main-container">
  <a href="/">
    <h1 class="text-center">
      Gummy: Translate Me!
    </h1>
  </a>
  <div id='unableToUnderstandAlert' class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <div class='text-center alert alert-danger alert-dismissible'>
        <h4>Unable to Understand!</h4>
        <p>Try recording again with a cleaner voice</p>
      </div>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <div id='btn-group__left' class="btn-group btn-group-justified">
        <a class="btn btn-default active" data-lang='en-US'>English</a>
        <a class="btn btn-default" data-lang='ja'>Japanese</a>
        <a class="btn btn-default" data-lang='zh-CN'>Chinese</a>
      </div>
      <br />
      <div class="form-group">
        <textarea class='form-control' placeholder='Eg. Hello World' id='textTranslateToJapanese' required >{{ translated_en_text }}</textarea>
      </div>
      <div class='text-center'>
        <audio id='audioEnglish' controls>
          <source src="" type='audio/mpeg'>
        </audio>
      </div>
      <div class="form-group text-center">
        <button type='button' class='btn btn-default' id='translateButton' data-from='en-US' data-to='ja'>
          <i class='fa fa-language'></i> Translate
        </button>
        <button type='button' class='btn btn-default' id='recordVoice' style='color: red;'><i class='fa fa-microphone'></i></button>
        <button type='button' class='btn btn-danger' id='playRecordEnglish'><i class='fa fa-play'></i></button>
      </div>
    </div>
    <div class="col-sm-6 col-xs-12">
      <div id='btn-group__right' class="btn-group btn-group-justified">
        <a class="btn btn-default" data-lang='en-US'>English</a>
        <a class="btn btn-default active" data-lang='ja'>Japanese</a>
        <a class="btn btn-default" data-lang='zh-CN'>Chinese</a>
      </div>
      <br />
      <div class="form-group">
        <textarea disabled class='form-control' placeholder='Eg. こんにちは、世界。' id='textTranslateToEnglish' required >{{ translated_ja_text }}</textarea>
      </div>
      <div class='text-center'>
        <audio id='audioJapanese' controls>
          <source src="" type='audio/mpeg'>
        </audio>
      </div>
      <div class="form-group text-center">
        <button type='button' class='btn btn-danger' id='playRecordJapanese'><i class='fa fa-play'></i></button>
      </div>
    </div>
  </div>
</div>
{% if translated_text %}
{{ translated_text }}
{% endif %}
</div>
{% endblock %}
